@import "./partials/variables";
@import "./partials/mixin";

@import "./partials/sparks";
@import "./partials/smog";

@import "./partials/global";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";