@mixin spark($img, $w, $h, $anim, $delay) {
	background-image: url("#{$asset-base}/#{$img}");
	background-size: 100%;
	width: $w;
	height: $h;
	animation: $anim 1.5s infinite linear;
	animation-delay: $delay;
	opacity: 0;
}

@mixin button-bg($file) {
	background: transparent url("#{$asset-base}/#{$file}") no-repeat center bottom;
	color: $color-link;
	border: none;
	position: relative;
	z-index: 1;
	text-align: center;
	background-size: 100%;

	&:after {
		display: none;
	}

	&:hover {
		box-shadow: none;
		filter: brightness(120%);
	}
}

@mixin animation($name, $duration) {
	animation: $name $duration infinite linear;
}