.smog {
	position: absolute;
	top: 450px;
	left: 170px;
	width: 100%;
	height: 100%;
	z-index: 1;

	i {
		position: absolute;
		display: block;
		background: url("#{$asset-base}/sp_smog.png") no-repeat;
		transform-origin: 50% 100%;
	}

	.num1, .num2, .num3 {
		bottom: 0;
		left: -677px;
		width: 2354px;
		height: 1300px;
		opacity: 0;
	}

	.num1 { @include animation(spreadSmog, 7s); }
	.num2 { @include animation(spreadSmog, 15s); }
	.num3 { @include animation(spreadSmog, 40s); }
}

@keyframes spreadSmog {
	0%   { transform: scale(.5); opacity: 0; }
	45%  { transform: scale(.75); opacity: 1; }
	90%,
	100% { transform: scale(1); opacity: 0; }
}